.body {
  background-color: whitesmoke;
  margin: 1px;
}

.product {
  padding-top: 50px;
  display: flex;
  height: fit-content;
  justify-content: baseline;
  background-color: white;
  margin: 10px;
  border: 1px solid #F87272;
  padding-bottom: 50px;
}

.poster {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: baseline;
}

.poster img {
  height:350px;
  object-fit: cover;
}

.details {
  padding-left: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: baseline;
}

.product-name {
  font-weight: 500;
  margin: 0px;
  padding: 0px;
}

.rating {
  display: flex;
  justify-content: baseline;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

.rating img {
  height: 90px;
}

.rating p {
  padding-top: 13px;
  padding-left: 5px;
  font-size: 1.3em;
}

.features {
  font-weight: 500;
  padding: 0px;
  margin: 0px;
}

.feature {
  padding: 0px;
  margin: 0px;
  color: black;
}

.price {
  margin-top: 10px;
  padding: 0px;
  color: black;
}

.price span {
  font-weight: 600;
  font-size: 1.5em;
}

.price p {
  margin: 0px;
  padding: 0px;
}

.tax-delivery-specification {
  font-size: 0.75em;
}

.add-to-cart-btn button {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 300px;
  height: 30px;
  line-height: 30px;
  font-size: 0.9em;
  border-radius: 3px;
  border: 1px solid #F87272;
  font-family: 'Ruda', sans-serif;
}

.add-to-cart-btn button:focus {
  outline: none;
}

.add-to-cart-btn button:hover {
  color: #EE3C3C;
  font-size: 1em;
  box-shadow: 1px 2px 3px -2px rgba(247, 80, 80, 0.925);
}